<!DOCTYPE html>
<html lang="en">
  <%- include("components/head") %>

  <body>
    <div id="mobile-container">
      <%- include("components/header") %>
      <!---->
      <% if (pageName==="" ) { %> <%- include("main/main") %> <% } %>
      <!---->
      <% if (pageName==="payment" ) { %> <%- include("main/paymentComplete") %> <% } %>
      <!---->
      <% if (pageName==="postGym" ) { %> <%- include("postGym") %> <% } %>
      <!---->
      <% if (pageName==="businessMyInfo" ) { %> <%- include("businessMyInfo") %> <% } %>
      <!---->
      <% if (pageName==="userList" ) { %> <%- include("userList") %> <% } %>

      <!---->
      <%- include("components/footer") %>
    </div>
  </body>
</html>
