<!DOCTYPE html>
<html lang="en">
  <%- include("components/head") %>

  <body>
    <div id="mobile-container">
      <%- include("components/header") %>
      <!---->
      <% if (pageName==="" ) { %> <%- include("main/main") %> <% } %>
      <!---->
      <% if (pageName==="payment" ) { %> <%- include("main/paymentComplete") %> <% } %>
      <!---->
      <% if (pageName==="postGym" ) { %> <%- include("postGym") %> <% } %>
      <!---->
      <% if (pageName==="businessMyInfo" ) { %> <%- include("businessMyInfo") %> <% } %>
      <!---->
      <% if (pageName==="userList" ) { %> <%- include("userList") %> <% } %> <% if (pageName==="admin" ) { %> <%-
      include("admin/admin") %> <% } %>
      <!---->
      <% if (pageName==="adminApprove" ) { %> <%- include("admin/adminApprove") %> <% } %>
      <!---->
      <% if (pageName==="adminApproveDetail" ) { %> <%- include("admin/adminApproveDetail") %> <% } %>
      <!---->
      <% if (pageName==="userLogin" ) { %> <%- include("auth/user-login") %> <% } %>
      <!---->
      <% if (pageName==="userSignup" ) { %> <%- include("auth/user-signup") %> <% } %>
      <!---->
      <% if (pageName==="userQRCode" ) { %> <%- include("auth/user-qrcode") %> <% } %>
      <!---->
      <% if (pageName==="businessLogin" ) { %> <%- include("auth/business-login") %> <% } %>
      <!---->
      <% if (pageName==="businessSignup" ) { %> <%- include("auth/business-signup") %> <% } %>
      <!---->
      <% if (pageName==="updateGym" ) { %> <%- include("updateGym") %> <% } %>

      <!---->
      <% if (pageName==="mypage" ) { %> <%- include("mypage/mypage") %> <% } %>
      <!---->
      <% if (pageName==="myinfo" ) { %> <%- include("mypage/myinfo")%> <% } %>
      <!---->
      <% if (pageName==="mypageBusiness" ) { %> <%- include("mypage/mypageBusiness")%> <% } %>
      <!---->
      <% if (pageName==="myinfoBusiness" ) { %> <%- include("mypage/myinfoBusiness")%> <% } %>
      <!---->
      <% if (pageName==="gymList" ) { %> <%- include("gym/gymList")%> <% } %>
      <!---->

      <%- include("components/footer") %>
    </div>
  </body>
</html>
