<!DOCTYPE html>
<html lang="en">
  <%- include("components/head") %>

  <body>
    <div id="mobile-container">
      <%- include("components/header") %>
      <!---->
      <% if (pageName==="" ) { %> <%- include("main/main") %> <% } %>
      <!---->
      <% if (pageName==="payment" ) { %> <%- include("main/paymentComplete") %> <% } %>
      <!---->
      <% if (pageName==="mypage" ) { %> <%- include("mypage/mypage") %> <% } %>
      <!---->
      <% if (pageName==="myinfo" ) { %> <%- include("mypage/myinfo")%> <% } %>
      <!---->
      <% if (pageName==="mypageBusiness" ) { %> <%- include("mypage/mypageBusiness")%> <% } %>
      <!---->
      <% if (pageName==="myinfoBusiness" ) { %> <%- include("mypage/myinfoBusiness")%> <% } %>
      <!---->

      <%- include("components/footer") %>
    </div>
  </body>
</html>
