<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>

  <body>
    <div id="mobile-container">
      <%- include("header") %>
      <!---->
      <% if (pageName==="" ) { %> <%- include("main") %> <% } %>
      <!---->
      <% if (pageName==="payment" ) { %> <%- include("payment") %> <% } %>
      <!---->
      <% if (pageName==="userLogin" ) { %> <%- include("user-login") %> <% } %>

      <!---->
      <%- include("footer") %>
    </div>
  </body>
</html>
